<div class="col-md-8">
  <h2 class="mt-5">Try Premium free for 15 days</h2>
  <p>See your work in a whole new way with Trello views.</p>

  <% if current_user %>
    <p>Hello <%= current_user.email %>!</p>
    <p>You are a [<%= current_user.role %>]</p>
    <%= link_to "Users", users_index_path %>
  <% else %>
    <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-primary"%>
  <% end %>
</div>